#image-grid .col-md-4 {
  margin-bottom: 20px;
}

#image-grid img {
  width: auto;
  height: auto;
  margin-top: 20px;

  cursor: pointer;
}

#image-grid img:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;

  opacity: 0.9;
}

h4 {
  margin-top: 1rem;
}
